page-login {

  ion-grid{
    height: 100%;

    ion-row{
      height: 100%;
      margin-top:25px;
    }
    ion-col{
      height: 500px;
    }
  }
  div{
    margin-top:50px;
  }
  h1{
    text-align: center;
  }


}
